.simple-button {
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    border: none; /* Remover borda */
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor ao passar por cima */
    outline: none; /* Remover contorno ao clicar */
}